@inherits LayoutComponentBase
<html>
<head>
    <title>Layout2</title>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <nav>navbar here</nav>
        </div>

        <div class="main">
            <div class="top-row px-4">
                A second layout template
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</body>
</html>
